#websitename{
height:80;
width:1520;
}
#button{
position:relative;
left:80%;
font-size:20;
}
#webname{
padding-left:670;
font-size:70;
height:50;
}
#language-container{
height:33;
width:1520;
background-color:green;
}
#language-container{
float:left;
}
#topsection{
padding-top:4;
padding-left:3;
}
#webdesign{
font-size:20;
margin-right:50;
color:white;
}
#design{
width:110;
height:25;
color:red;
}

#programming{
font-size:20;
margin-right:50;
color:white;
}
#program{
width:110;
height:25;
color:red;
}
#clientslidescripting{
font-size:20;
margin-right:50;
color:white;
}
#client{
width:150;
height:25;
color:red;
}
#serverslidescripting{
font-size:20;
margin-right:50;
color:white;
}
#database{
font-size:20;
margin-right:50;
color:white;
}
#dataanterchange{
font-size:20;
margin-right:50;
color:white;
}
#cssubject{
font-size:20;
margin-right:50;
color:white;
}
#miscellaneous{
font-size:20;

color:white;
}
#leftpageside{
height:260;
width:200;
margin-top:7;
float:left;
}
#ctuitorial{
font-size:21;
}
#ctuitorial a{
text-decoration:none;
color:#000000;
}
#line1{
height:1;
width:200;
background-color:green;
margin-top:6;
}
#cintroduction{
font-size:20;
}
#line2{
height:1;
width:200;
background-color:green;
margin-top:6;
}
#chistory{
font-size:20;
}
#line3{
height:1;
width:200;
background-color:green;
margin-top:6;
}
#cinstallation{
font-size:20;
}
#line4{
height:1;
width:200;
background-color:green;
margin-top:6;
}
#cprogramstructure{
font-size:20;
}
#line5{
height:1;
width:200;
background-color:green;
margin-top:6;
}
#cinputoutput{
font-size:20;
}
#line6{
height:1;
width:200;
background-color:green;
margin-top:6;
}
#cformat{
font-size:20;float:left;
}
#middlepagecontainer{
position:relative;
left:200;
background-color:green;
width:65%;
}
#contentsofmidpage{
height:1880%;
padding-left:280;
margin-top:6;
}
#text{
height:1;
width:200;
}
#head{
font-size:30;
}
.articles{
font-size:30;
color:pink;
}
.articles:hover{
color:red;
}
#centre{
position:relative;
right:200;
color:white;
font-size:16;
}
#head:hover{
color:red;
}
#heads{
	font-size:20;
	
}